/* Universal Styles */

body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    color: red;
}

p {
    font-size: 1.125rem;
    color: purple;
    padding-bottom: 5rem;
}

/* Navbar Section */

nav {
    font-size: 1.5rem;
}

#links .nav-link:hover {
    color: red;
}

#navigation .navbar-brand {
    font-size: 1.5rem;
    color: red;
}


/* Content Section */

#title span {
    color: red;
}
